@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.toast {
  @apply fixed z-50;
  left: 50%;
}

.toast-message {
  @apply relative;
  left: -50%;
}

.overlay {
  @apply absolute flex h-full w-full cursor-pointer items-stretch;
}

.overlay-backdrop {
  @apply absolute z-10 h-full w-full bg-gray-900 opacity-0;
}

.overlay:hover .overlay-backdrop {
  @apply opacity-50 transition-opacity duration-300 ease-in-out;
}

.overlay-actions {
  @apply z-30 mx-auto self-center text-black opacity-0;
}

.overlay:hover .overlay-actions {
  @apply opacity-100 transition-opacity duration-300 ease-in-out;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
